body {
margin-top: 12px;
margin-left: 0;
margin-right: 0;
padding: 0px
}
body {background-color:rgb(37, 66, 94)
}

* {
  box-sizing: border-box;
}
 
.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  flex: 50%;
  margin-bottom: 12px;
}

#schedule td {
  border: 0px solid #ddd;
  padding: 15px;
  padding-left: 30px;
  color:white;
}

#schedule tr:nth-child(even){background-color: rgb(15, 42, 70);}
#schedule th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  
  background-color: #123e;
  color: #d3357f;
}

.imgborder {

  height: auto;
  width: auto;
}